@import "@/styles/variables";

.card {
  background-color: $color-white-0;
  display: flex;
  flex-direction: column;
  border-radius: 16Px;
  margin: 0 12Px;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 12Px 16Px;

    .title {
      font-size: 1.2rem;
      font-weight: 600;
    }

  }

  .body {
    flex: auto;
  }

  .footer {
    padding-bottom: 16Px;
  }
}
