@import "@/styles/variables";

.ledgers-grid {
  display: grid;
  // grid-template-columns: repeat(2, 50%);
  padding: 16rpx;

  .card {
    margin: 16rpx;
    background-color: $color-white-0;
    padding: 12rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180rpx;
    border-radius: 16rpx;
    transition: all 0.1s;
    position: relative;

    .name {
      font-weight: 600;
      margin: auto;
    }

    .select {
      color: $color-gray-2;
      position: absolute;
      right: 32rpx;
      bottom: 16rpx;
      transition: all 0.2s;
    }

    .more {
      color: $color-gray-2;
      position: absolute;
      right: 16rpx;
      top: 16rpx;
      transition: all 0.2s;
      border-radius: 8rpx;
      padding: 4rpx;

      &:active {
        background-color: $color-gray-4;
      }
    }
  }
  .add-btn {
    background-color: $color-white-1;
    border: 6rpx dashed $color-gray-3;
    color: $color-gray-1;
    padding: 6rpx;
  }
}
