@import "@/styles/variables";

.add-btn {
  position: fixed;
  right: 36rpx;
  bottom: calc(36rpx + env(safe-area-inset-bottom));
  padding: 24rpx;
  border-radius: 100rpx;
  background-color: $color-white-0;
  display: flex;
  align-items: center;
  gap: 12rpx;
  box-shadow: rgba(0, 0, 0, 0.16) 0rpx 10rpx 36rpx 0rpx, rgba(0, 0, 0, 0.06) 0rpx 0rpx 0rpx 1rpx;
  font-weight: 600;
  color: $color-green-7;
}
