@import "@/styles/variables";

.container {
  padding: 0 32rpx;
}

.main {
  display: flex;
  justify-content: space-between;

  .col {
    display: flex;
    flex-direction: column;
    gap: 24rpx;

    .label {
      color: $color-gray-1;
    }

    .value {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}

.process {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20rpx;
  padding-top: 24rpx;

  .dot {
    position: relative;
  }

  .dot::before {
    position: absolute;
    content: "";
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 100%;
    background-color: $color-gray-2;
    opacity: 40%;
    right: 0;
  }

  .expense:before {
    background-color: $color-brand;
  }

  .income:before {
    background-color: $color-orange;
  }
}
