$color-white-0: #ffffff;
$color-white-1: #fafafa;
$color-white-2: #f5f5f5;

$color-black-0: #000000;
$color-black-1: #141414;
$color-black-2: #1f1f1f;
$color-black-3: #262626;
$color-black-4: #434343;

$color-gray-0: #595959;
$color-gray-1: #8c8c8c;
$color-gray-2: #bfbfbf;
$color-gray-3: #d9d9d9;
$color-gray-4: #f0f0f0;

$color-green-1: #e6ffee;
$color-green-2: #a6f5c2;
$color-green-3: #79e8a3;
$color-green-4: #4fdb89;
$color-green-5: #29cf74;
$color-green-6: #07c160;
$color-green-7: #009c50;
$color-green-8: #007541;

$color-orange: #e2ad49;

$color-brand: $color-green-5;
$color-brand-light: $color-green-3;
$color-brand-dark: $color-green-7;

$color-text-0: $color-black-1;
$color-text-1: $color-black-3;
$color-text-2: $color-gray-0;
$color-text-3: $color-gray-1;

$color-border: $color-gray-3;
