@import "@/styles/variables";

.extension {
  background-color: $color-gray-4;
  padding: 4Px 8Px;
  border-radius: 8Px;
  transition: all .1s;

  .label {
    color: $color-black-4;
  }

}

.extension:active {
  filter: brightness(90%);
}
