@import "@/styles/variables";

.container {
  display: flex;
  height: 60rpx;
  padding: 20rpx;
  border-top: 2rpx solid $color-gray-4;

  .remark {
    flex: 1;
    padding: 0 16rpx;

    .input {
      height: 100%;
    }
  }

  .content {
    color: $color-brand;
    font-size: 1.5em;
    font-weight: 600;
  }
}
